body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #eaf2ff;
}

.container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
  text-align: center;
  color: #004080;
}

.table-container {
  margin-bottom: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
  border-bottom: 1px solid #ccd9ff;
  text-align: left;
}

th {
  background-color: #cce0ff;
}

tr:hover {
  background-color: #f0f5ff;
}

.search-container, .filter-container {
  background-color: #cce0ff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

label {
  font-weight: bold;
}

input[type="text"] {
  padding: 8px;
  width: 70%;
  margin-right: 10px;
}

button {
  padding: 8px 16px;
  background-color: #004080;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0059b3;
}

#employeeDetailsResult {
  margin-top: 20px;
}